<section id="left_who" class="left_side">
            <article id="whoami"> 
                <h1 id="who">WHO IS GONÇALO?</h1>
                
                <p>If you want to hire me you should know that I’m obsessed with music, making playlists and analog photography. I like to think about things, to conceptualize and have ideas, the concept behind what I do is part of my identity as a person and also as a designer.</p> 
            
                <p>I’ve studied Communication Design at the Faculty of Fine Arts in Lisbon, where I developed my love for Graphic Design and understood the potencial behind Digital Design. I studied at Politecnico di Milano in Milan-Italy for six months - where I also studied Communication Design and was part of an exhibition event at Base Milano - as part of the erasmus programme. I ended up at an ongoing Post-Graduation course in Digital Experience Design again at the Faculty of Fine Arts in Lisbon.</p> 
                    
                <p>I’ve mostly done identities, editorial projects and exhibitions but I’m currently exploring the world of UX/UI Design, and getting more interested in the role of User Experience Design in order to improve the performance of online platforms. </p> 
                
                <p>On a regular free day, find me around cheap restaurants and beautiful viewpoints of Lisbon, or drinking at Bairro Alto every once in a while.</p>
                
            </article>
        </section>
        
        <section class="right_side_who">
			<ol title="Skills/Tools">
                <h3>Skills/Tools</h3>
                    <li>High Knowledge of Photoshop, Illustrator, Indesign</li>
                    <li>Knowledge of Premiere and After Effects</li>
                    <li>Knowledge of HTML and CSS languages</li>
                    <li>Photography</li>
                    <li>Sketch and Figma (UI Design)</li>
                    <li>InVision</li>
                    <li>Video</li>
            </ol>	
            
            <ol title="Interests">
                <h3>Interests</h3>
                    <li>Graphic Design</li>
                    <li>Digital Design (UX/UI)</li>
                    <li>User Experience Design </li>
                    <li>Editorial Design</li>
                    <li>Exhibition Design</li>
                    <li>Photography</li>
                    <li>Art Direction</li>
                    <li>Curating</li>
            </ol>
			
            <ol title="Want to work with">
                <h3>I want to work with/on</h3>
                    <li>Fashion Store/Brand</li>
                    <li>Graphic Design Studio</li>
                    <li>Online or Print Newspaper</li>
                    <li>Music Label</li>
                    <li>User Experience department</li>
                    <li>Artists </li>
                    <li>Cultural Associations (ex: Theatre, Museum…)</li>
                    <li>Football Club</li>
                    <li>Magazine</li>
                    <li>Ceramics</li>
                    <li>Botanical store</li>
            </ol>
        </section> 
