<header class="container">
        <nav id="primary">
            <h1 id="logo">GONÇALO</h1>
            <ol>
                <li><a href="#digital">DIGITAL DESIGN</a></li>
                <li><a href="#graphic">GRAPHIC DESIGN</a></li>
            </ol>
            <ol>
				<li><a href="#whoami">WHO DAT?</a></li>
				<li><a href="mailto:goncalo.cleto.silva@gmail.com?subject=Hey!">SAY HI</a></li>
				<li><a href="https://www.instagram.com/umgoncalosilva/">FOLLOW</a></li>
			</ol>
        </nav>
        
        <nav id="projects"> 
            <ol>
				<li><a href="#titulo_artigo">CRISE DE IDENTIDADE</a></li>
				<li><a href="#cosmos">COSMOS</a></li>
				<li><a href="#respack">RESPACK</a></li>
				<li><a href="#buddy">BUDDY</a></li>
                <li><a href="#blueroses">BLUE ROSES</a></li>
			</ol>
        </nav>
    </header>
