
$Raleway: 'Raleway', sans-serif;

body {
    font-family: Raleway;
    margin: 0px;
    background-color: black;   
}

main {
    display: b;
}

/* header starts here */

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
    position: fixed;
}

#logo{
    font-family: Raleway;
    font-size: 30px;
    color: black;
    width: 100px;
    margin: 0px;
    text-align: left;
    float: left;
    padding-left: 35px;
    padding-top: 6px;
}

#primary {
    float: right;
    width: 100vw;
    height: 50px;
    background-color: lightgrey;
    position: relative;
}

#primary ol {
    font-size: 25px; 
	list-style: none;
    position: absolute;
    right: 25px;
    margin:0;
    padding-top: 15px;
}

#primary ol li {
	float: left;
    margin-right: 20px;
}

#projects {
    width: 100vw;
    height: 50px;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 0.5px solid black;
}

#projects * {
    display: inline-block;
	font-size: 25px;
    box-sizing: border-box;
    margin: 0; 
    padding-left: 0px;
    padding-top: 5px;
    color: white;
}

#projects ol {
	list-style: none;
    margin:0;
}

#projects ol li {
	float: left;
    margin-right: 30px;
    padding: 0;
}

#primary, #projects {
    overflow: hidden;  
}

#primary a, #projects a {
    text-align: center;
    align-content: center;
    text-decoration: none;  
}

#primary a{
    color: white; 
}

#primary a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

#projects a {
    color: white;  
}

#projects a:hover {
    text-decoration: underline;
}

/* header ends here */

.intro {
    background-color: black;
    color: white;
    width: 100vw;
    height: 580px;
    float: right;
    text-align: left;
    margin-bottom: 50px;
    font-size: 27px;
    box-sizing: border-box;
    border-bottom: 0.5px solid black;
    line-height: auto;
    margin-top: 70px;
}

.intro-text {
    width: 60%;
    height: 580px;
    margin-right: 0;
    float: left;
    box-sizing: border-box;
}

.intro-circle {
    width: 40%;
    height: 580px;
    float: right;
    box-sizing: border-box;
} 

.intro p {
    width: 850px;
    padding-left: 40px;
    float: left;
}

#hello {
    font-family: Helvetica;
    padding-bottom: 10px;
    padding-left: 40px;
}

.left_side, .right_side {
    width: 50%;
    height: 800px;
    float: left;
}

#titulo_artigo {
    font-family: Helvetica;
    font-size: 35px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    
}

.tipo{
    font-size: 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;    
}

article {
    height: 800px;
    font-size: 22px;
    text-align: left;
    background-color: #EEECEA;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 80px;
}

/* Flex Homepage */
 
.container-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100vw - (80px));
    height: 100vh;
    padding: 40px;
    background-color: black;
    list-style: none;
}

.item {
    width: 490px;
    height: 390px;
    padding: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
    background-color: aqua;
}

.item:hover {
    width: 490px;
    height: 390px;
    padding: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
    background-color: black;
}

/* Who dat? */

#whoami {
    color: black; 
    height: 800px;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 60px;
    float:left;
}

#who {
    font-family: Helvetica;
    font-size: 30px;    
}

.right_side_who {
    box-sizing: border-box;
    width: 50%;
    height: 800px;
    float: left;
    color: black;
    padding-top: 60px;
    padding-left: 20px;
}

.right_side_who li {
   list-style: none; 
}

h3 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


/* Posts */

.post-content {
    padding-top: 130px;
    color: white; 
}

.post-wrapper {
    background-color: black;
    color: white;
    
}

.post-entry {
    background-color: black;
    color: white;
    padding-left: 45px;
    padding-right: 80px;
    
}

.post-header {
    color: white;
    
    
}

.post-title {
    color: white;
    font-size: 50px;
    
}

.post-content-text {
 
}

p {
    margin-top: 60px;
    margin-bottom: 60px;
}




/* circle rotating */



#container { margin: 0%; width: 500px; height:500px;
margin-right:20px; float: right;}

#circle { position: relative; width: 500px; padding-bottom: 500px; overflow: hidden; color: white; margin-right: 100px; }

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold; }

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}










/* ______________________________________________Media Query_________________________*/


@media screen and (max-width: 700px) {
    
    article {
        font-size: 16px;
    }
    
    .left_side{
        width: 100vw;
        height: 550px;
    }
    
    #left_who {
        float: none;
    }
    
    .right_side {
        width: 100vw;
        height: 100%;
        clear: left;
    }
    
    .intro {
        width: 100vw;
        height: 600px;
        padding-right: 10%;
        padding-top: 70px;
    }
    
    .intro p {
        font-size: 17px;
    }

    #hello {
        padding-bottom: 10px;
        font-size: 30px;
    } 

    .img_crise, .img_respack, 
    .img_buddy, .img_blue {
        display:block;
        margin: auto;
        margin-bottom: 30px;        
    }
    
    #whoami { 
        height: 750px;
        font-size: 15px;
        line-height: auto;
        padding-right: 30px;
        padding-top: 5px;
    }

    #who {
        font-size: 30px;    
    }

    .right_side_who {
        width: 100vw;
        font-size: 16px;
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 10px;
        color: black;
        height:100%;
    }

    #logo{
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-left: auto;
        padding-right: auto;
        padding-top: 0px;
        text-align: center;
    }

    #primary {
        height: 90px;
        display: inline-block;
    }

    #primary ol {
        margin-top: 20px;
        padding-left: 10px;
    }

    #projects {   
        display: none;
    }
}

@media screen and (max-width: 860px) {
    
    article {
        font-size: 15px;
    }    
}

/* font */

@font-face
{
font-family: SpaceGrotesk;
src: url('SpaceGrotesk-Regular.otf'),
     url('SpaceGrotesk-Bold.otf'); 
}