---
layout: default
---


<section id="left_who" class="left_side">
        <article id="whoami"> 
                <h1 id="who">WHO IS GONÇALO?</h1>
                
                {{ content }}
                
        </article>
    </section>
        
<section class="right_side_who">
			<ol title="Skills/Tools">
                <h3>Skills/Tools</h3>
                    <li>High Knowledge of Photoshop, Illustrator, Indesign</li>
                    <li>Knowledge of Premiere and After Effects</li>
                    <li>Knowledge of HTML and CSS languages</li>
                    <li>Photography</li>
                    <li>Sketch and Figma (UI Design)</li>
                    <li>InVision</li>
                    <li>Video</li>
            </ol>	
            
            
            <ol title="Interests">
                <h3>Interests</h3>
                    <li>Graphic Design</li>
                    <li>Digital Design (UX/UI)</li>
                    <li>User Experience Design </li>
                    <li>Service Design</li>
                    <li>Exhibition Design</li>
                    <li>Photography</li>
                    <li>Art Direction</li>
                    <li>Curating</li>
                    <li>Graphic Design</li>
            </ol>
			
            <ol title="Want to work with">
                <h3>I want to work with/on</h3>
                    <li>Fashion Store/Brand</li>
                    <li>Graphic Design Studio</li>
                    <li>Online or Print Newspaper</li>
                    <li>Music Label</li>
                    <li>User Experience department</li>
                    <li>Artists </li>
                    <li>Cultural Associations (ex: Theatre, Museum…)</li>
                    <li>Football Club</li>
                    <li>Magazine</li>
                    <li>Ceramics</li>
                    <li>Botanical store</li>
            </ol>
        </section> 