---
layout: default
---

    <main class="post-content" aria-label="Post">
            <div class="post-wrapper">
                <article class="post-entry">
                    <header class="post-header">
                        <h1 class="post-title">{{ page.title | escape }}</h1>
                    </header>
                    <div class="post-content-text">
                        {{ content }}
                    </div>
                </article>
            </div>
        </main>










